* {
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Roboto', sans-serif;
    display: block;
  }

  h1 {
    text-align: center;
  }
  
  
  button, input[type="text"] {
    padding: 2px;
  }
  
  button:hover {
    cursor: pointer;
  }
  
  ul.no {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  li {
    padding: 2px;
  }
  
  li, img {
    max-width: 500px;
  }
  
  .container {
    max-width: 800px;
    margin: 0 auto;
  }
  
  .error-message {
      color: red;
  }
  
  .hidden {
    display: none;
  }

  table {
    border-collapse: collapse;
    width: auto;
    margin-right: auto;
    margin-left: auto;

  }
  
  th {
    border: 1px solid #999;
    padding: 0.5rem;
    text-align: center;
    font-size: small;
  }

  td {
    border: 1px solid #999;
    padding: 0.5rem;
    font-size: small;
    text-align: right;
  }

  /* .baseball td:nth-child(1){
    text-align: left;}
    
  .baseball .baseball td:nth-child(3){
    text-align: right;} */

  tbody>tr>:nth-child(1){
      text-align:left;
     }

  .my-custom-scrollbar {
    position: relative;
    height: 400px;
    overflow: auto;
  }

  .table-wrapper-scroll-y {
  display: block;
  }

  button {
    position: center;
    padding: 2px;
    margin-top: 10px;
  }

  .main-menu {
    text-align: center;
  }
