* {
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Roboto', sans-serif;
    display: block;
  }

  h1 {
    text-align: center;
  }
  
  
  button, input[type="text"] {
    padding: 2px;
  }
  
  button:hover {
    cursor: pointer;
  }
  
  ul.no {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  li {
    padding: 2px;
  }
  
  li, img {
    max-width: 500px;
  }
  
  .container {
    max-width: 800px;
    margin: 0 auto;
  }
  
  .error-message {
      color: red;
  }
  
  .hidden {
    display: none;
  }

  table {
    border-collapse: collapse;
    width: 50%;
  }
  
  th {
    border: 1px solid #999;
    padding: 0.5rem;
    text-align: center;
  }

  td {
    border: 1px solid #999;
    padding: 0.5rem;
    text-align: right;
  }

  .my-custom-scrollbar {
    position: relative;
    height: 400px;
    overflow: auto;
  }

  .table-wrapper-scroll-y {
  display: block;
  }
